
 <!-- <div class="search-container">

  <input
    type="text"
    class="form-control"
    placeholder="Buscar Lugar"
  >

  <search-result></search-result>

</div> -->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="search-container mt-5 mt-md-0 mt-lg-0">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar Lugar"
          #txtQuery
          (keyup)="onQueryChanged(txtQuery.value)"
        >
        <search-result></search-result>
      </div>
    </div>
  </div>
</div>



